src
test
tsconfig.json
tsconfig.module.json
.nvmrc
.eslint*
.circleci
.travis.yml
.github
.prettierignore
.vscode
build/docs
**/*.spec.*
coverage
.nyc_output
*.log
jest.config.js
.prettierrc
release.config.js
CODEOWNERS
